* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box{
  height: 300px;
  background-color: green;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* grid-template-columns: 50% 50%; */
  gap: 30px;
  margin: 0 200px;
}